QMainWindow {
    background-color: #202124;
}

QPushButton {
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    min-height: 30px;
}

QPushButton:hover {
    background-color: #5dc761;
}

QTextEdit {
    background-color: white;
}

QLabel {
    color: white;
}